<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pseudo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>

<h1 style="text-align: center; margin: 5%;;">Informações colaboradores</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a style="margin: 2%;" href="/adicionar" class="btn btn-primary">Adicionar colaborador</a>
        </div>
        <div class="col-xs-12">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Nome</th>
                        <th>GMID</th>
                        <th>Funções</th>
                    </tr>
                </thead>

                <tbody>
                {% for i in colaboradores %}
                <tr>
                    <td>{{i.nome}}</td>
                    <td>{{i.gmid}}</td>
                    <td>
                        <a style="display: flex;" href="/edit/{{i.id}}">Editar</a>
                        <a href="/delete/{{i.id}}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>